@tailwind base;

:root {
    --first: #040D12;
    --second: #93B1A6;
    --third: #5C8374;
    --white: #F5F5F5;
}

/* Scrollbar for firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: var(--second) var(--first);
    scroll-behavior: smooth;
}
/* Scrollbar for another browsers */
*::-webkit-scrollbar {
    width: 10px;
    border-radius: 0px;
}

*::-webkit-scrollbar-track {
    background: var(--first);
    border-radius: 0px;
}

*::-webkit-scrollbar-thumb {
    background-color: var(--second);
    border-radius: 5px;
    border: 3px solid var(--first);
}

*::selection {
    background: var(--third);
    color: var(--white);
}


@tailwind components;
@tailwind utilities;